.pizza-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.pizza-card {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.2rem;
  text-align: center;
  align-items: center;
  padding: 1.5rem;
  margin: 1rem;
  @media screen and (max-width: 768px) {
    flex: 0 0 80%;
  }

  .image {
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    margin-bottom: 0.5rem;
  }
  .name {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-family: 'Kanit', sans-serif;
  }
  .description {
    margin-bottom: 0.875rem;
    color: #666666;
  }
  .footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .price {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary;
    color: white;
    font-weight: 700;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-size: 0.875rem;
  }
  .add-to-cart {
    font-family: 'Kanit', sans-serif;
    background: transparent;
    color: $primary;
    font-weight: 700;
    border: 2px solid $primary;
    border-radius: 50px;
    font-size: 0.875rem;
    padding: 0.725rem 1rem;
    &:hover,
    &:focus {
      background: $primary;
      color: white;
    }
    &.disabled {
      border: 2px solid #333333;
      color: #333333;
      &:hover,
      &:focus {
        background: transparent;
        color: #333333;
      }
    }
  }
}
