.navbar-main {
  background: transparent;
  padding: 0;
  &.scrolled {
    background: $primary;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  font-family: 'Kanit', sans-serif;
  &:hover,
  &:focus {
    color: white;
  }
}

.nav-menu {
  .nav-item {
    .nav-link {
      font-family: 'Kanit', sans-serif;
      padding: 1rem;
      color: white;
    }
    &:hover,
    &:focus {
      .nav-link {
        color: white;
      }
    }
  }
}
